.App {
  text-align: center;
}

.componentsWrapper{
  display: flex;
  flex-direction: row;
  justify-content:center;
  border: 1px solid black;
  min-height: 300px;
}



.starBox{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  max-width:100px;
  margin: 10px 10px 10px 0px;
}

.allContentWrapper{

  flex-direction: column;
  display: flex;
  justify-content:center;
  align-items:center;
  border: 1px solid black;
  height: 100vh;


}

.onOffBox{
  height: 150px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 80px;
  justify-content:space-between;
  align-items:center;
  margin: 20px;
  background-color: dimgray;
  padding: 20px;
}
.onOffButton{
  width: 60px;
  height: 30px;
  margin-right: 5px;
  font-weight: bold;

}
.buttonOff{
  background-color: firebrick;
  color: white;
}

.buttonOn{
  background-color: green;
  color: white;
}

.onOffLamp{
  width:15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;


}

.clickableTitle{
  cursor: pointer;

}
.accordionWrapper{
  border:1px solid black;
  padding: 10px;
  margin: 10px;
}



